<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Time tracker{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/app/css/styles.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>Time tracker</h1>

        </header>
        <div id="timerContainer">
            <p id="timer">00:00:00</p>
            <button id="timerButton" disabled="disabled">Start</button>
        </div>

        {% block body %}
            <div class="nav">
                <a href="#">&ll; Назад до списку задач</a>
            </div>

            <div class="content">content</div>
        {% endblock %}

        {% block javascripts %}
            {#<script src="{{ asset('build/js/app.js') }}"></script>#}
        {% endblock %}
    </body>
</html>